1 - Criar uma tabela dados_cadastrais onde cada linha representa um funcionário e com os seguintes atributos: id, nome, sobrenome, data_nasci, cpf e endereco; Criar uma tabela dados_profissionais com id, graduacao, cargo, salario e tempo_casa. Insira 4 registros em cada uma das tabelas.

In [7]:
import sqlite3 #implementando banco de dados SQL imbutido

In [8]:
conn = sqlite3.connect("banco_dados_atividade4.db") #criando bd

print(conn)

<sqlite3.Connection object at 0x000001ED7AF23A80>

In [9]:
cursor = conn.cursor() #criando varíavel para construir as tabelas

In [10]:
#criando tabela dados_cadastrais
cursor.execute("CREATE TABLE dados_cadastrais(user_id integer, nome text, sobrenome text, data_nasci text, cpf text, endereco text)")

In [11]:
#criando tabela dados_profissionais
cursor.execute("CREATE TABLE dados_profissionais(user_id integer, graduacao text, cargo text, salario float, tempo_casa integer)")

In [12]:
cursor.execute('SELECT name from sqlite_master where type= "table"')

cursor.fetchall() #mostrando as tabelas que foram criadas no bd

[('dados_cadastrais',), ('dados_profissionais',)]

In [13]:
#inserindo registros na tabela dados_cadastrais
cursor.execute("INSERT INTO dados_cadastrais VALUES(1, 'Maria', 'Silva', '13/10/1975', '235.524,555-00', 'Rua 1 - SP')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(2, 'João', 'Silva', '20/01/1980', '111.213.521-11', 'Rua 2 - SP')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(3, 'Pedro', 'Pereira', '15/11/2000', '111.214.520-45', 'Rua 3 - SP')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(4, 'Paulo', 'Ribeiro', '30/03/1995', '852.159.347-12', 'Rua 4 - SP')")
conn.commit

In [14]:
#inserindo registro na tabela dados_profissionais
cursor.execute("INSERT INTO dados_profissionais VALUES(1, 'Matemática', 'Professor', 3500.89, 3)")
cursor.execute("INSERT INTO dados_profissionais VALUES(2, 'Geografia', 'Orientador', 2850.8, 1)")
cursor.execute("INSERT INTO dados_profissionais VALUES(3, 'História', 'Orientador', 3200.45, 1)")
cursor.execute("INSERT INTO dados_profissionais VALUES(4, 'Física', 'Professor', 1890.33, 2)")
conn.commit

2 - Usando a tabela dados profissionais, escreva uma query que retorne todos os campos da tabela ordenando-os pela coluna tempo de casa de maneira decrescente.

In [15]:
cursor.execute("SELECT * FROM dados_profissionais ORDER BY tempo_casa DESC")
cursor.fetchall()

[(1, 'Matemática', 'Professor', 3500.89, 3),
 (4, 'Física', 'Professor', 1890.33, 2),
 (2, 'Geografia', 'Orientador', 2850.8, 1),
 (3, 'História', 'Orientador', 3200.45, 1)]

3 - Conte a quantidade de funcionários dessa empresa;

In [17]:
cursor.execute("SELECT COUNT(user_id) FROM dados_cadastrais")
cursor.fetchall()

[(4,)]

4 - Usando a tabela dados cadastrais, escreva uma query que liste apenas os funcionários que possuem sobrenome "silva", ordenados pelo nome completo, ou seja, nome e sobrenome.

In [20]:
cursor.execute("SELECT * FROM dados_cadastrais WHERE sobrenome = 'Silva' ORDER BY nome, sobrenome")
cursor.fetchall()

[(2, 'João', 'Silva', '20/01/1980', '111.213.521-11', 'Rua 2 - SP'),
 (1, 'Maria', 'Silva', '13/10/1975', '235.524,555-00', 'Rua 1 - SP')]

5 - Escreva uma query que liste o valor da folha de pagamento dessa empresa por cargo, usando a tabela dados_profissionais (ou seja, somar os salários em cada cargo).

In [26]:
cursor.execute("SELECT SUM(salario), cargo FROM dados_profissionais GROUP BY cargo")
cursor.fetchall()

[(6051.25, 'Orientador'), (5391.219999999999, 'Professor')]