**Estruturas de dados**

*São coleções de dados com características específicas*

In [1]:
# Listas: [1,2.5,"dados",[4.8]] #mutáveis, dados de vários tipos;
# Tuplas: (1,2,3,2) #imutável (alterar a tupla toda apenas), dados de vários tipos;
# Dicionários: {"AI":1, "ML":2, "DL":[3,4] #mutáveis, conceito chave-valor;
# Conjuntos: {1,2,3} #muáveis, não ordenado, elementos únicos.

In [2]:
##Para criar listas usamos [] e separamos os valores por ","

lista_nomes = ["Sergio", "Maria", "Pedro"]
type(lista_nomes)

list

In [4]:
lista_varios_tipos = [1,2,True, [4,5,6]]

type(lista_varios_tipos)

list

In [5]:
lista_vazia = []

In [6]:
type(lista_vazia)

list

In [7]:
print(lista_vazia)

[]

In [8]:
lista_inteiros = list([1,2,3])

In [9]:
lista_inteiros

[1, 2, 3]

In [10]:
type(lista_inteiros)

list

In [12]:
#Para ver quantos elementos temos na lista usamos a função len()

len(lista_nomes)

3

In [13]:
print(len(lista_vazia))

0

In [14]:
lista_varios_tipos[0] #indexação em puthon começa em 0

1

In [15]:
lista_varios_tipos[3]

[4, 5, 6]

In [16]:
#E se quisermos pegar o 2º elemento do quarto elemento da lista

In [19]:
lista_varios_tipos[3][1]

5

In [18]:
lista_varios_tipos[4]

IndexError: list index out of range

**Slicing em listas**

In [20]:
lista_nomes

['Sergio', 'Maria', 'Pedro']

In [21]:
#É um intervalo aberto a direita, ou seja, quando escrevemos até 2, o elemnto da posição 2 não entra:
lista_nomes[0:2]

['Sergio', 'Maria']

In [22]:
lista_nomes[:2]

['Sergio', 'Maria']

In [23]:
#É um intervalo fechado a esquerda, ou seja, quando escrevemos de 1 até 3, o elemento da posição 1 entra:
lista_nomes[1:3]

['Maria', 'Pedro']

In [24]:
lista_nomes[1:2]

['Maria']

In [25]:
lista_nomes[-1]

'Pedro'

In [26]:
lista_nomes[-2]

'Maria'

In [28]:
#Escreve a lista de trás pra frente
lista_nomes[::-1]

['Pedro', 'Maria', 'Sergio']

**Strings vs Listas**

In [29]:
lista_nomes

['Sergio', 'Maria', 'Pedro']

In [30]:
lista_nomes[1]

'Maria'

In [31]:
type(lista_nomes[1])

str

In [32]:
lista_nomes[1][0]

'M'

In [33]:
lista_nomes[1][3]

'i'

In [34]:
#Listas mutáveis

In [35]:
lista_nomes[0] = "Mariana"

In [36]:
lista_nomes

['Mariana', 'Maria', 'Pedro']

In [37]:
#String imutáveis

x = "Dados"

In [38]:
x[0] = "d"

TypeError: 'str' object does not support item assignment

**Concatenando listas**

In [39]:
lista_nomes

['Mariana', 'Maria', 'Pedro']

In [40]:
lista_nomes_1 = ["Fabio", "Sabrina"]
lista_nomes_1

['Fabio', 'Sabrina']

In [41]:
lista_todos_nomes = lista_nomes + lista_nomes_1
lista_todos_nomes

['Mariana', 'Maria', 'Pedro', 'Fabio', 'Sabrina']

**Funções básicas para listas**

In [50]:
#Min() nos diz qual é o menor elemento da lista

lista_inteiros

[1, 2, 3]

In [43]:
min(lista_inteiros)

1

In [44]:
max(lista_inteiros)

3

In [45]:
sum(lista_inteiros)

6

In [46]:
type(lista_inteiros)

list

In [47]:
len(lista_inteiros)

3

In [48]:
lista_range = list(range(0,10,1)) #Quero uma lista de 0 a 10 contando de 1 em 1
lista_range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
list(range(0,10,2)) #Quero uma lista de 0 a 10 contando de 2 em 2

[0, 2, 4, 6, 8]

**Funções nativas para listas**

In [51]:
#Já vimos que podemos adicionar elemtnos na lista concatenando com outra

linguagens = ["Python", "SQL", "R"]
linguagens_1 = linguagens + ["Java", "C++"]
linguagens_1

['Python', 'SQL', 'R', 'Java', 'C++']

In [52]:
linguagens_1.clear()
print(linguagens_1)

[]

In [53]:
#Lista. + tab mostra funções nativas para listas
#append adiciona elemento no final da lista

linguagens.append("Java")
linguagens.append("C++")

linguagens

['Python', 'SQL', 'R', 'Java', 'C++']

In [54]:
#extend adiciona outra lista como elementos da lista original e não como uma lista

linguagens.extend(["Java", "C++"])
linguagens

['Python', 'SQL', 'R', 'Java', 'C++', 'Java', 'C++']

In [56]:
#insert adiciona elementos em posições específicas da lista

linguagens.insert(1,"Scala")
linguagens

['Python', 'Scala', 'SQL', 'R', 'Java', 'C++', 'Java', 'C++']

In [57]:
#remove deleta o primeiro elemento encontrado na lista com esse nome

linguagens.remove("C++")

In [58]:
linguagens

['Python', 'Scala', 'SQL', 'R', 'Java', 'Java', 'C++']

In [59]:
#pop remove elemento da lista usando índice
linguagens.pop(len(linguagens)-1)

'C++'

In [60]:
linguagens

['Python', 'Scala', 'SQL', 'R', 'Java', 'Java']

In [61]:
linguagens.pop(2)
print(linguagens)

['Python', 'Scala', 'R', 'Java', 'Java']

In [62]:
#count conta quantidade de elementos na lista
linguagens.count("Java")

2

In [63]:
#sort ordena os elementos da lista (se for string, ordena por ordem alfabética)
lista_nomes.sort()
lista_nomes

['Maria', 'Mariana', 'Pedro']

In [64]:
lista_range.sort()
lista_range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]