**Declaração de variáveis:**

In [1]:
nome = "Jessika"

In [2]:
idade = 28

In [3]:
altura = 1.68

In [5]:
e_matematica = True

In [6]:
nome = "Jessika"
idade = 28
altura = 1.68
e_matematica =True

**Verificação dos valores atribuídos às variáveis:**

In [7]:
nome

'Jessika'

In [8]:
idade

28

In [9]:
altura

1.68

In [10]:
nome #se colocarmos as 2 variáveis em um único bloco ele retornará apenas o valor atribuído à 2ª variável (altura no caso)
altura

1.68

In [11]:
nome, altura #essa é a forma correta de chamar mais de 1 variável de uma só vez

('Jessika', 1.68)

In [12]:
print("O valor da variável nome é: ", nome)

O valor da variável nome é:  Jessika

**Como saber o tipo da variável:**

Para isso usamos a função type()

In [13]:
type(nome)

str

In [14]:
type(idade)

int

In [15]:
type(altura)

float

In [16]:
type(e_matematica)

bool

**Conversão de variáveis**

In [17]:
type(idade) #queremos converter o tipo int para float

int

In [18]:
float(idade) #aqui a variável ainda não foi convertida

28.0

In [19]:
type(idade) #verificação

int

In [20]:
idade = float(idade) #forma de converter o tipo da variável

In [21]:
type(idade) #verificação

float

In [22]:
type(nome)

str

In [23]:
float(nome) #não conseguimos converter uma string em float

ValueError: could not convert string to float: 'Jessika'

In [24]:
float(e_matematica) #true = 1 e false = 0 --> variáveis bool podem ser convertidas para float

1.0

**Sobreescrevendo o valor de uma variável**

In [25]:
altura

1.68

In [26]:
altura = "Olá"

In [27]:
altura

'Olá'