In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataframe_exercicio_modulo_9.csv")
df

,sex,age,famsize,Pstatus,traveltime,studytime,schoolsup,famsup,paid,activities,internet,romantic,famrel,freetime,goout,absences,G3
0,F,18,GT3,A,2,2,yes,no,no,no,no,no,4,3,4,6,6
1,F,17,GT3,T,1,2,no,yes,no,no,yes,no,5,3,3,4,6
2,F,15,LE3,T,1,2,yes,no,yes,no,yes,no,4,3,2,10,10
3,F,15,GT3,T,1,3,no,yes,yes,yes,yes,yes,3,2,2,2,15
4,F,16,GT3,T,1,2,no,yes,yes,no,no,no,4,3,2,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,F,19,GT3,T,1,3,no,no,no,yes,yes,no,5,4,2,4,10
1040,F,18,LE3,T,1,2,no,yes,no,no,yes,no,4,3,4,4,16
1041,F,18,GT3,T,2,2,no,no,no,yes,no,no,1,1,1,6,9
1042,M,17,LE3,T,2,1,no,no,no,no,yes,no,2,4,5,6,10
1043,M,18,LE3,T,3,1,no,no,no,no,yes,no,4,4,1,4,11

Atributos do dataset:
    
    1- 'sex': sexo
    
    2- 'age': idade
    
    3- 'famsize': tamanho da famÃ­lia; LE3 - famÃ­lias com no mÃ¡ximo 3 pessoas, GT3 caso contrÃ¡rio
    
    4- 'Pstatus': status de habitaÃ§Ã£o com os pais; T - mora junto com os pais, A - mora separado;
    
    5- 'traveltime': tempo de viagem entre escola e casa; 
        1 - <15 min., 2 - 15 a 30 min., 3 - 30 min. a 1 hora, or 4 - >1 hora
        
    6- 'studytime': tempo de estudo semanal; 1 - <2 horas, 2 - 2 a 5 horas, 3 - 5 a 10 horas, ou 4 - >10 horas
    
    7- 'schoolsup': suporte educacional extra escola
    
    8- 'famsup': suporte educacional da famÃ­lia
    
    9- 'paid': pagou aulas particulares por fora 
    
    10- 'activities': atividades extra-curriculares
    
    11- 'internet': acesso a internet em casa
    
    12- 'romantic': se estÃ¡ num relacionamento
    
    13- 'famrel': qualidade das relaÃ§Ãµes familiares; 1 - muito ruim a 5 - muito boa
    
    14- 'freetime': tempo livre apÃ³s escola; 1 - muito pouco atÃ© 5 - muito
    
    15- 'goout': relaciona-se com amigos; 1 - muito pouco atÃ© 5 - muito
    
    16- 'absences': quantidade de faltas na escola
    
    17- 'G3': nota mÃ©dia final no ensino mÃ©dio
    
<br>

No dataset acima, faÃ§a uma __anÃ¡lise exploratÃ³ria__ geral, bem como __prÃ©-processamentos__ nas variÃ¡veis.

Considere a variÃ¡vel __'G3'__ como a __variÃ¡vel target__ do problema - contexto de __regressÃ£o.__

Teste __diferentes modelos de regressÃ£o__ a fim de explicar a variÃ¡vel target. Use a metodologia da __validaÃ§Ã£o cruzada__ e o __coeficiente de determinaÃ§Ã£o ($R^{2}$)__ como mÃ©trica de performance.

Plote __grÃ¡ficos__ personalizados com os resultados.