In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import OneHotEncoder

# Exercícios:

<br>

1 - Importe o arquivo "dataframe_exercicio_modulo_7.csv" em um dataframe - df - do Pandas.

<br>

2 - Quais as dimensões do dataframe?

<br>

3 - Qual o tipo das variáveis?

<br>

4 - Existem variáveis faltantes no dataset? Quais?

<br>


5 - Exiba todas as categorias das variáveis 'estado_civil', 'cor' e 'sexo'. Você consegue detectar algum problema?

<br>

6 - Faça um tratamento nas variáveis faltantes.

<br>

7 - Aplique uma transformação "MinMax" na variável  'tempo_educacao'e uma transformação "StandardScaler" na variável 'horas_por_semana'.

<br>

8 - Aplique ohe-hot-encoding nas variáveis 'estado_civil', 'cor' e 'sexo'.

<br>

9 - Detecte e elimine os outliers da variável 'idade'.

<br>


10 - Escreva uma função que receba o dataframe em sua forma original e retorne o dataframe modificado, após todas as transformações dos itens acima.

In [2]:
# 1 - Importe o arquivo "dataframe_exercicio_modulo_7.csv" em um dataframe - df - do Pandas.

df = pd.read_csv("dataframe_exercicio_modulo_7.csv")
df.head()

,idade,tempo_educacao,estado_civil,cor,sexo,horas_por_semana,salario_anual,nome,dívida
0,39.0,13,Never-married,White,Male,40,<=50K,NaN,NaN
1,50.0,13,Married-civ-spouse,White,Male,13,<=50K,NaN,NaN
2,38.0,9,Divorced,White,Male,40,<=50K,NaN,NaN
3,53.0,7,Married-civ-spouse,Black,Male,40,<=50K,NaN,NaN
4,37.0,14,Married-civ-spouse,White,Female,40,<=50K,NaN,NaN

In [ ]:
# 2 - Quais as dimensões do dataframe?

df.shape
# 29170 -> linhas 
# 9 -> colunas

In [ ]:
# 3 - Qual o tipo das variáveis?

df.dtypes

In [ ]:
# 4 - Existem variáveis faltantes no dataset? Quais?
# Os valores faltantes são: idade(0,34%), nome(100%) e dívida(100%)

df.isnull().sum()

In [ ]:
# valores faltantes em percentual:

((df.isnull().sum() / df.shape[0]) * 100).round(2)

In [ ]:
# 5 - Exiba todas as categorias das variáveis 'estado_civil', 'cor' e 'sexo'. Você consegue detectar algum problema?
# Não sei se classificaria necessariamente como um problema, mas as variáveis mencionadas tem muitas categorias e nas 
# variáveis cor e sexo temos as categorias 'other' e '?', que basicamente são informações indefinidas e que, por isso
# poderiam não colaborar com o estudo, a depender da linha que se quer seguir. Além disso eu observaria com cuidado a
# pouca representatividade das informações, já que a maior parte delas estão concentradas em algumas categorias. 

# estado_civil:
df.estado_civil.value_counts()

In [ ]:
# cor:
df.cor.value_counts()

In [ ]:
# sexo:
df.sexo.value_counts()

In [ ]:
# 6 - Faça um tratamento nas variáveis faltantes.

# retirando as colunas 'nome' e 'divida', pois ambas tem 100% de dados faltantes, sem condições de uso, portanto. 
df = df.drop(['nome','dívida'],axis = 1)
df.head()

In [ ]:
# tratando a variável idade, que possui 0,34% de dados faltantes e podem ser preenchidos pela média de idades do df.

media_idade = df.idade.mean()
media_idade

In [ ]:
df.idade.loc[np.isnan(df.idade)]

In [ ]:
# substituindo os valores NaN pela média de idades:

df.idade.fillna(media_idade, inplace=True)

In [ ]:
# 7 - Aplique uma transformação "MinMax" na variável 'tempo_educacao'e uma transformação "StandardScaler" 
# na variável 'horas_por_semana'.

mm_scaler = MinMaxScaler()
ss_scaler = StandardScaler()

In [ ]:
# MinMax na variável 'tempo_educacao':

df.tempo_educacao.describe()

In [ ]:
tempo_edu_mm = df.tempo_educacao.values.reshape(-1,1)
tempo_edu_mm

In [ ]:
mm_scaler.fit(tempo_edu_mm)

In [ ]:
mm_scaler.transform(tempo_edu_mm)

In [ ]:
# StandardScaler na variável 'horas_por_semana':

df.tempo_educacao.describe()

In [ ]:
horas_semana_ss = df.horas_por_semana.values.reshape(-1,1)
horas_semana_ss

In [ ]:
ss_scaler.fit(horas_semana_ss)

In [ ]:
ss_scaler.transform(horas_semana_ss)

In [ ]:
# 8 - Aplique ohe-hot-encoding nas variáveis 'estado_civil', 'cor' e 'sexo'.

ohe = OneHotEncoder()

In [ ]:
# OHE na variável 'estado_civil':

estado_civil_ohe = df.estado_civil.values.reshape(-1,1)

ohe.fit(estado_civil_ohe)

In [ ]:
ohe.transform(estado_civil_ohe)

In [ ]:
ohe.transform(estado_civil_ohe).toarray()

In [ ]:
ohe.categories_

In [ ]:
df_estado_civil_ohe = pd.DataFrame(ohe.transform(estado_civil_ohe).toarray(),columns = ohe.categories_[0].tolist())
df_estado_civil_ohe

In [ ]:
# OHE na variável 'cor':

cor_ohe = df.cor.values.reshape(-1,1)

ohe.fit(cor_ohe)

In [ ]:
ohe.transform(cor_ohe).toarray()

In [ ]:
ohe.categories_

In [ ]:
df_cor_ohe = pd.DataFrame(ohe.transform(cor_ohe).toarray(),columns = ohe.categories_[0].tolist())
df_cor_ohe

In [ ]:
# OHE na variável 'sexo':

sexo_ohe = df.sexo.values.reshape(-1,1)

ohe.fit(sexo_ohe)

In [ ]:
ohe.transform(sexo_ohe)

In [ ]:
ohe.transform(sexo_ohe).toarray()

In [ ]:
ohe.categories_

In [ ]:
df_sexo_ohe = pd.DataFrame(ohe.transform(sexo_ohe).toarray(),columns = ohe.categories_[0].tolist())
df_sexo_ohe

In [ ]:
# 9 - Detecte e elimine os outliers da variável 'idade'.

plt.figure(figsize=[8,6])
plt.title("Boxplot - Idade", fontsize = 14, fontweight = 'bold')
plt.boxplot(df.idade)
plt.show()

In [ ]:
# cálculo do intervalo interquartil:

i_quartil = np.percentile(df.idade, 75) - np.percentile(df.idade, 25)
i_quartil

In [ ]:
# cálculo limite inferior:

limite_inf = np.maximum(np.percentile(df.idade, 25) - 1.5 * i_quartil, np.min(df.idade))
limite_inf

In [ ]:
# cálculo limite superior:

limite_sup = np.minimum(np.percentile(df.idade, 75) + 1.5 * i_quartil, np.max(df.idade))
limite_sup

In [ ]:
def detecta_outlier(x, limite = 1.5):
    i_quartil = np.percentile(x, 75) - np.percentile(x, 25)
    limite_inf = np.maximum(np.percentile(x, 25) - limite * i_quartil, np.min(x))
    limite_sup = np.minimum(np.percentile(x, 75) + limite * i_quartil, np.max(x))
    return np.where((x < limite_inf) | (x > limite_sup), 1, 0)

In [ ]:
df['outlier_idade'] = detecta_outlier(df.idade)

In [ ]:
df

In [ ]:
# eliminando os outliers do df:

df = df.drop(df[df.outlier_idade == 1].index)

In [ ]:
df

In [24]:
# 10 - Escreva uma função que receba o dataframe em sua forma original e retorne o dataframe modificado,
# após todas as transformações dos itens acima.

def preprocessamento(df, cols_numericas, cols_categoricas, cols_ohe, limite = 1.5):
    dff = df.copy()
    
    # tratando as variáveis faltantes:
    temp = (df.isnull().sum() / df.shape[0]) >= 0.9
    variaveis_90percFaltantes = temp.loc[temp == True].index.tolist()
    for v in variaveis_90percFaltantes:
        dff = dff.drop(v, axis = 1)
        
    cols_numericas = list(set(cols_numericas).intersection(set(dff.columns.tolist())))
    cols_categoricas = list(set(cols_categoricas).intersection(set(dff.columns.tolist())))
        
    for v in cols_numericas:
        dff[v] = dff[v].fillna(dff[v].mean())
        
    for v in cols_categoricas:
        mode_v = dff[v].value_counts().idxmax()
        dff[v] = dff[v].fillna(mode_v)
    
    mm_scaler = MinMaxScaler()
    ss_scaler = StandardScaler()
    ohe = OneHotEncoder()
    
    # Minmax na variável 'tempo_educacao':
    tempo_edu_mm = dff.tempo_educacao.values.reshape(-1,1)
    mm_scaler.fit(tempo_edu_mm)
    mm_scaler.transform(tempo_edu_mm)
    
    # StandardScaler na variável 'horas_por_semana':
    horas_semana_ss = dff.horas_por_semana.values.reshape(-1,1)
    ss_scaler.fit(horas_semana_ss)
    ss_scaler.transform(horas_semana_ss)
    
    # Ohe-Hot-Encoding nas variáveis 'estado_civil', 'cor' e 'sexo':
    cols_ohe = list(set(cols_ohe).intersection(set(dff.columns.tolist())))
    
    for v in cols_ohe:
        v_ohe = dff[v].values.reshape(-1,1)
        ohe.fit(v_ohe)
        ohe.transform(v_ohe)
        ohe.transform(v_ohe).toarray()
        df_ohe = pd.DataFrame(ohe.transform(v_ohe).toarray(),columns = ohe.categories_[0].tolist())
    
    # Detectar e eliminar outliers da variável idade:
    i_quartil = np.percentile(dff.idade, 75) - np.percentile(dff.idade, 25)
    limite_inf = np.maximum(np.percentile(dff.idade, 25) - 1.5 * i_quartil, np.min(dff.idade))
    limite_sup = np.minimum(np.percentile(dff.idade, 75) + 1.5 * i_quartil, np.max(dff.idade))
    dff['outlier_idade'] = np.where((dff.idade < limite_inf) | (dff.idade > limite_sup), 1, 0)
    dff = dff.drop(dff[dff.outlier_idade == 1].index)
    
    return dff

In [25]:
df

,idade,tempo_educacao,estado_civil,cor,sexo,horas_por_semana,salario_anual,nome,dívida
0,39.0,13,Never-married,White,Male,40,<=50K,NaN,NaN
1,50.0,13,Married-civ-spouse,White,Male,13,<=50K,NaN,NaN
2,38.0,9,Divorced,White,Male,40,<=50K,NaN,NaN
3,53.0,7,Married-civ-spouse,Black,Male,40,<=50K,NaN,NaN
4,37.0,14,Married-civ-spouse,White,Female,40,<=50K,NaN,NaN
...,...,...,...,...,...,...,...,...,...
29165,27.0,12,Married-civ-spouse,White,Female,38,<=50K,NaN,NaN
29166,40.0,9,Married-civ-spouse,White,Male,40,>50K,NaN,NaN
29167,58.0,9,Widowed,White,Female,40,<=50K,NaN,NaN
29168,22.0,9,Never-married,White,Male,20,<=50K,NaN,NaN
29169,52.0,9,Married-civ-spouse,White,Female,40,>50K,NaN,NaN

In [26]:
df_limpo = preprocessamento(df = df, 
                            cols_numericas = ['idade', 'tempo_educacao', 'horas_por_semana', 'dívida'], 
                            cols_categoricas = ['estado_civil', 'cor', 'sexo', 'nome', 'salario_anual'],
                            cols_ohe = ['estado_civil', 'cor', 'sexo'])

df_limpo

,idade,tempo_educacao,estado_civil,cor,sexo,horas_por_semana,salario_anual,outlier_idade
0,39.0,13,Never-married,White,Male,40,<=50K,0
1,50.0,13,Married-civ-spouse,White,Male,13,<=50K,0
2,38.0,9,Divorced,White,Male,40,<=50K,0
3,53.0,7,Married-civ-spouse,Black,Male,40,<=50K,0
4,37.0,14,Married-civ-spouse,White,Female,40,<=50K,0
...,...,...,...,...,...,...,...,...
29165,27.0,12,Married-civ-spouse,White,Female,38,<=50K,0
29166,40.0,9,Married-civ-spouse,White,Male,40,>50K,0
29167,58.0,9,Widowed,White,Female,40,<=50K,0
29168,22.0,9,Never-married,White,Male,20,<=50K,0
29169,52.0,9,Married-civ-spouse,White,Female,40,>50K,0